
@font-face {
  font-family: 'Nunito';
  src: url("./Nunito/Nunito-BlackItalic.ttf");
}

* {
    font-family: Helvetica;
}
html {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    height: fit-content
}

h1 {
  font-size: 2rem;
}

p{
    font-size: 1.25rem;
}

body {
    width: 100%;
    text-align: center;
}

form{
    font-size: 1.5rem;
}

.checked {
  color: yellow;
}

.unchecked {
  color: grey;
}

.starhover {
  color: pink;
}

button {
    border: none;
    background-color: transparent;
}

img {
    width: 90vw;
    height: 40vh;
    margin:0% 5%;
}

.submitButton {
    border: black;
    background-color: plum;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
}